$break-point: 7 * $spacing + 2 * $photo-width;

@media screen and (max-width: $break-point) {
  .mc-photo-card-container {
    padding: $spacing 0 !important;

    .mc-content {
      grid-template-columns: 1fr !important;
    }

    mc-photo-card {
      margin: 0 $spacing;

      &.mc-even, &.mc-odd {
        justify-self: center;
      }
    }
  }
}

.mc-photo-card-container {
  @include content-position-fixed($toolbarHeight);

  padding: $spacing;
  overflow: auto;

  .mc-content {
    display: grid;
    grid-column-gap: 2 * $spacing;
    grid-row-gap: $spacing;
    grid-template-columns: repeat(2, 1fr);
  }

  .mc-toolbar {
    display: flex;
    justify-content: center;
    padding-top: 2 * $spacing;
  }
}

mc-photo-card {

  &.mc-even {
    justify-self: right;
  }

  &.mc-odd {
    justify-self: left;
  }
}

.mc-error-page {
  @include content-position-fixed($toolbarHeight);


  > h1, > div {
    text-align: center;
  }
}
