mc-photo-card {
  cursor: pointer;

  .mat-card {
    padding: 24px 0 12px 0;
    max-width: $photo-width;
  }

  legend {
    padding: 0 12px 12px;
  }

  img {
    opacity: 0;

    &.mc-loaded {
      opacity: 1;
      transition: opacity 1s;
    }
  }
}
