@import '~reset-css/reset.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../assets/css/fontello.css';
@import '../assets/css/fontello-codes.css';

@import './common.scss';
@import './components/index.scss';
@import './pages/index.scss';

mat-sidenav .mat-button {
  width: 100%;
  text-align: left;

  .mat-icon {
    display: inline;
  }
}

app-root {
  @include content-position-fixed(0);

  .mat-sidenav-container {
    @include content-position-fixed(0);

    .mat-sidenav-content {
      overflow: hidden;
    }
  }

  .mat-toolbar {
    @include toolbar-height;

    .mat-toolbar-row {
      @include toolbar-height;
    }
  }

  .mc-page-title {
    line-height: 40px;
  }

  .mat-button:not(:hover), .mat-icon-button:not(:hover) {
    .mat-button-focus-overlay {
      background-color: initial;
    }
  }
}
